html{
	 height: 100%;
}

body {
    height: 100%;
	font-family: "Lato Light", "Lato";
	padding-left: 10px;
}

iframe[id^='twitter-widget-']{ width:240px !important;}

.wrap {min-height: 100%;
}

.main {overflow: auto;
	padding-bottom: 10px;
	}  /* must be same height as the footer */

.footer {position: relative;
	margin-top: -10px; /* negative value of footer height */
	height: 10px;
	clear:both;
    font-size: 15px;
    padding-top: 100px;
} 


.nav a {
  color: #5a5a5a;
  font-size: 19px;
  padding-top: 14px;
  padding-bottom: 14px;
  padding-left: 10px;
  padding-right: 10px;
}

.nav li {
    display: inline;
}

/*.twitter-timeline {*/
	/*position: fixed;*/
	/*right: 100px;*/
	/*top: 240px;*/

}

.title{
	padding-bottom: 15px;
	color: #551111;
}


.title h1{
	font-size: 30px;
	font-weight: 100;


}

.title h2{
	font-size: 20px;
	font-weight: 100;
}

.title a{
	font-size: 15px;
	color: #551111;
	text-decoration: none;
}




.description p{
   padding-left: 500px;
   word-wrap: break-word;
   width: 1000px;
}


.description img{
	height: 300px;
	position: relative;
	left: 100px;
}

.description p a{
	color: #A32638;
}

.description container-fluid{
	height: 300px;
}

.research p{
   word-wrap: break-word;
   width: 700px;
}

.research img{
	height: 250px;
	position: relative;

}

.research a{
	color: #A32638;
}

.cv p a {
	color: #A32638;
}

.contact iframe{
        width: 100%;
        height: 500px;
        margin-top: 10px; 
        margin-bottom: 10px;
        float: right;
      }

  

